<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../dist/bootstrap-5.0.2-dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../dist/bootstrap-5.0.2-dist/" />
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="header"></div>
    <div id=" navbar" class="menu">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu-right"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="menu-left col-2">
                    <a class="navbar-brand" href="#"></a>
                </div>
                <div class="menu-right col-8">
                    <div class="collapse navbar-collapse" id="menu-right">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">
                                    Trang Chủ
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dobongda" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Thực Đơn
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dobongda">
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            Thực đơn
                                        </a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider" />
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            Danh sách đồ uống
                                        </a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider" />
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            Đồ ăn nhẹ
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dotapyoga" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Về Chúng Tôi
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dotapyoga">
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            Về chúng tôi
                                        </a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider" />
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            Liên Hệ
                                        </a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider" />
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            Dịch Vụ
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#">
                                    Địa Điểm Nhà Hàng
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#">
                                    Đặt Bàn
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#">
                                    Bolg
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="menu-right2 col-2">
                    <div class="header-button">
                        <a href="#" title="Cart" class="header-cart-link icon button round is-outline is-small"
                            data-wpel-link="internal">
                            <span class="header-cart-title">
                                <span class="cart-price">
                                    <span class="woocommerce-Price-amount amount">
                                        0
                                        <span class="woocommerce-Price-currencySymbol">
                                            ₫
                                        </span>
                                    </span>
                                </span>
                            </span>

                            <i class="fa-solid fa-cart-shopping fa"></i>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="menu-3">
        <h3>WELCOME TO ẨM THỰC XÈO</h3>
    </div>
    <!-- 
    <div class="banner-layers container">
        <a class="fill" href="#" data-wpel-link="internal">
            <div class="fill-img banner-link"></div>
        </a>
        <div id="text-box-121875285" class="text-box banner-layer x50 md-x50 lg-x50 y75 md-y75 lg-y75 res-text">
            <div class="text dark">
                <div class="text-inner text-center">
                    <p>
                        <strong>
                            <span>
                                <span>
                                    <strong id="vitory">ẨM THỰC XÈO
                                    </strong>
                                </span>
                                The best Local Food Restaurants in
                                <span>
                                    <strong id="vitory">ĐÀ NẴNG</strong>
                                </span>
                                that you cannot miss…
                            </span>
                        </strong>
                    </p>
                    <a href="#" target="_self" class="button white is-outline" data-wpel-link="internal">
                        <span>Xem Thêm</span>
                    </a>
                    <a href="#" target="_self" class="button white is-outline" data-wpel-link="internal">
                        <span>Đặt Bàn</span>
                    </a>
                    <a href="#" target="_self" class="button white is-outline" data-wpel-link="internal">
                        <span>Liện Hệ</span>
                    </a>
                </div>
            </div>
        </div>
    </div> -->
    <!-- 
    <header>
        <div class="xeo-body-top"></div>

        <div class="xeo-body-center">
            <p class="center-1">
            <p class="text-center-body">
                <strong style="font-size: 25px; padding-left: 5px;"> CHÀO HÈ SÔI ĐỘNG CÙNG ẨM THỰC XÈO
                    🥳🥳🥳</strong><br>
                <br>
                Chào mừng bạn đến với thế giới món ngon của nhà XÈO - nơi
                hội tụ văn hoá ẩm thực dân dã đặc trưng xứ Quảng, ẩm thực Á
                Âu, ẩm thực Trung Hoa hay Hải sản tươi sống và các món cơm
                Việt cân luôn từng bữa ăn của mọi nhà. 🤩🥳 Đặc biệt trong
                sự kiện KICK OFF trở lại ẨM THỰC XÈO, chúng tôi đang có
                chương trình giảm 2️⃣0️⃣% cho tất cả. Nằm trên tuyến đường Võ
                Văn Kiệt đắc địa bậc nhất Đà Nẵng, nhà hàng Ẩm Thực Xèo nổi
                bật với dáng vẻ của góc phố cổ Hội An thơ mộng, vừa hiện đại
                pha lẫn chút cổ kính, vừa nhẹ nhàng, mộc mạc và gần gũi, lại
                luôn có sẵn bãi đậu xe riêng biệt, rộng rãi. Nơi đây đang
                lưu giữ chiếc chảo bánh xèo kỷ lục Guinness Việt Nam có
                đường kính 368 cm, chất liệu bằng đồng thau, do các nghệ
                nhân của làng thủ công mỹ nghệ Phước Kiều - Đồng Xâm chế
                tác. Xèo được ví như là một âm thanh phát ra từ những món ăn
                truyền thống vốn dĩ rất đỗi gần gũi. Những gia vị thân quen
                bỗng chốc được những người đầu bếp tài hoa biến hoá trở nên
                sang trọng và mới lạ. Một đẳng cấp khác biệt, một ấn tượng
                khó quên khi được trải nghiệm những món ăn truyền thống đậm
                đà nét văn hoá dân dã địa phương. Là địa điểm luôn được quý
                đối tác trong và ngoài nước tin yêu lựa chọn để chiêu đãi và
                giới thiệu văn hoá ẩm thực cho các chính khách, cũng như
                những nhân vật nổi tiếng, các chuỗi sự kiện, các lễ hội văn
                hoá ẩm thực,...
            </p>
            </p>
            <p class="center-2">

            </p>
            <p class="center-4">
            <div class="center-3"></div>
            <p class="text-center3">Còn điều gì mà răng chưa thấy ghé <strong>ẨM THỰC XÈO</strong> hè! <br>
                MIẾN CUA TAY CẦM cuốn hút thực khách không chỉ với hương vị mà còn với hình thức trang
                trí
                hấp dẫn.
                Miến, cua được nấu trong một nồi đấy nhỏ. Khi mở nắp nồi đất, khói nghi ngút bốc lên mang theo
                mùi
                cua thơm lừng
                và màu trong veo của các sợi miến đã "uống no nê" nước ngọt của cua.
                Thưởng thức những cọng miến dai ngon hòa lẫn trong những phần thịt cua chắc nịt. Rau củ tươi ngon được
                đảo
                đều trên
                lửa lớn cùng các loại gia vị độc đáo. Cua biển với hương thơm quyến rũ, từng thớ thịt chắc ngọt mang
                hơi
                thở của biển
                sẽ tạo nên một món ăn ấn tượng trong lòng thực khách.
                <strong>HẸN GẶP LẠI TẠI ẨM THỰC XÈO</strong> <br>
                _________________ <br>
                🏫 Lô A19 Võ Văn Kiệt, Đà Nẵng<br>
                ⏰ 10:00 - 22:00<br>
                ☎️ Hotline: 0941750075
            </p>

        </div>
        <div class="inner">
            <div style="margin:auto;width:60%">
                <p></p>
                <div style="font-size: 30px; text-transform: uppercase; font-weight: 300;">CHÚNG TÔI
                    CHỈ
                    SỬ DỤNG CÁC NGUYÊN LIỆU TƯƠI, CHẤT LƯỢNG CAO NHƯ NHỮNG GÌ CHÚNG TÔI GIÀNH CHO NHỮNG NGƯỜI THÂN YÊU
                    TRONG
                    GIA
                    ĐÌNH. ĐÓ LÀ NHỮNG MÓN ĂN VIỆT NAM ĐƯỢC THỰC HIỆN BẰNG TÌNH YÊU VÀ ĐAM MÊ.</div>
                <div class="post_detail">Our Founder Ẩm Thực Xèo</div>
                <p><span style="font-family: Kristi; font-size: 40px; font-weight: 600;">Ẩm Thực Xèo</span></p>
                <p><img loading="lazy" class="alignnone wp-image-4522 size-full" src="../dist/img/logoamthamxeo.svg"
                        alt="" width="200" height="200"></p>
            </div>
        </div>

        <div class="xeo-body-bottom">
            <div class="bottom-xeo"></div>
            <p class="bottom-xeo"><strong style="font-size: 50px; padding-left: 10px;">OUR STORY </strong><br>
                <font style="vertical-align: inherit;">ULTIMATE DINING EXPERIENCE LIKE NO OTHER</font><br> <br>
                Toạ lạc ngay trên tuyến đường sầm uất, giữa phố phường Đà thành, cách bãi tắm Mỹ Khê 5
                phút đi bộ, du khách sẽ bắt gặp
                một nhà hàng với dáng vẻ nổi bật của góc phố cổ Hội An thơ mộng, vừa hiện đại pha lẫn chút cổ kính, vừa
                nhẹ
                nhàng, mộc
                mạc và gần gũi. <br>

                Không gian phục vụ tại nhà hàng có sức chứa một lúc lên đến 1.500 thực khách. <br>

                Nơi đây đang lưu giữ chiếc chảo bánh xèo kỷ lục Guinness Việt Nam có đường kính 368 cm, chất liệu bằng
                đồng
                thau, do các
                nghệ nhân của làng thủ công mỹ nghệ Phước Kiều - Đồng Xâm chế tác. <br>

                Xèo được ví như là một âm thanh phát ra từ những món ăn truyền thống vốn dĩ rất đỗi gần gũi. Những gia
                vị
                thân quen bỗng
                chốc được những người đầu bếp tài hoa biến hoá trở nên sang trọng và mới lạ. Một đẳng cấp khác biệt, một
                ấn
                tượng khó
                quên khi được trải nghiệm những món ăn truyền thống đậm đà nét văn hoá dân dã địa phương. <br>

                Nguồn nguyên liệu để chế biến ra món ăn phục vụ thực khách cũng được chúng tôi tuyển chọn kỹ càng, từ
                những
                món cơm Việt
                đơn sơ cho đến những loại hải sản cao cấp, đặc sản nổi tiếng của các vùng miền cũng đều hội tụ tại đây
                tạo
                nên một thực
                đơn phong phú trên 200 món ăn đặc sắc… <br>

                Là địa điểm luôn được quý đối tác trong và ngoài nước tin yêu lựa chọn để chiêu đãi và giới thiệu văn
                hoá ẩm
                thực cho
                các chính khách, cũng như những nhân vật nổi tiếng, các chuỗi sự kiện, các lễ hội văn hoá ẩm thực,… <br>

                Tất cả đều đã có mặt tại ẨM THỰC XÈO.
            </p>
            <div class="bottom-xeo"></div>
        </div>
    </header> -->
    <!--     
    <footer>
        <div class="ft"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="footer-let-let col-3">
                    <p class="footer-let"><img src="../dist/img/logoamthamxeo.svg" alt="" width="200" height="150">
                    </p>
                    <p class="footer-let-p"> Nhà Hàng Ẩm Thực Xèo phục vụ các món ăn thuần túy Việt Nam, lấy cảm
                        hứng từ nghệ thuật Đông
                        Dương tạo nên
                        không
                        gian ăn uống đặc
                        sắc và ấn tượng.<br>
                        Quán tọa lạc tại các vị trí đắc địa trong Thành Phố Đà NẴNG, thuận tiện trong việc di chuyển
                        và
                        tìm kiếm.</p>
                </div>
                <div class="footer-let-let col-3 ">
                    <p class="footer-let-1">Lựa Chọn Của Khách Du Lịch </p>
                    <img id="footer-let-img"
                        src="https://quan-bui.com/wp-content/uploads/2021/11/248635740_4880422805335895_7140571721338439616_n.gif"
                        alt="">
                </div>
                <div class="footer-let-let col-3">
                    <p class="footer-let-1 ">Địa điểm Nhà Hàng</p>
                    <iframe class="footer-let-2 "
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1083.6900885432856!2d108.24153773386469!3d16.062938765808493!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3142175493c67da1%3A0xe17e5b3df45f5a36!2z4bqobSB0aOG7sWMgWMOobw!5e0!3m2!1svi!2s!4v1656389644294!5m2!1svi!2s"
                        width="300" height="250" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="footer-let-let col-3">
                    <p id="footer-let-1" class="footer-let-1">Thông Tin Liên Hệ </p>
                    <i id="footer-let-1" class="fa-solid fa-location-dot"></i> Ẩm Thực Xèo : Lô 19 Võ Văn Kiệt, TP.
                    Đà Nẵng
                    <br>
                    <i id="footer-let-1" class="fa-solid fa-phone"></i>Hotline: <a href="tel: +84786568656">07 8656
                        8656</a>
                    <br>
                    <i id="footer-let-1" class="fa-solid fa-envelope"></i>Email: amthucxeo.vvk@amomi.vn

                </div>
            </div>
        </div>
    </footer> -->
    <script src="../dist/bootstrap-5.0.2-dist/js/bootstrap.js"></script>
</body>

</html>